<% content_for :title, "Editar Transação" %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">
            <i class="fas fa-edit"></i> Editar Transação
          </h4>
        </div>
        <div class="card-body">
          <%= render 'form', transaction: @transaction, is_edit: true %>
        </div>
      </div>
    </div>
  </div>
</div>
